
<main>
    <mat-card class="form">
      <mat-form-field class="example-full-width control input_full" appearance="fill">
        <mat-label>Incident Resolution</mat-label>
        <input matInput  [(ngModel)]="incidentResolution" name="incidentResolution">
      </mat-form-field>

        <h1 class="title">Are You Sure?</h1>
        <div class="btn-container">
            <button (click)="close()" mat-raised-button color="warn" class="btn">Yes</button>
            <button [routerLink]="['/incidents']"
            routerLinkActive="router-link-active"
            mat-raised-button
            class="btn">no</button>
        </div>
    </mat-card>
</main>
